<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <title>CarControl</title>
  <!-- Bootstrap Core CSS -->
  <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- You can change the theme colors from here -->
  <link href="/css/colors/red-dark.css" id="theme" rel="stylesheet">

  <script src="/plugins/jquery/jquery.min.js"></script>

  <link href="/plugins/multiselect/css/multi-select.css" rel="stylesheet">
  <script src="/plugins/multiselect/js/jquery.multi-select.js"></script>

</head>

<body class="fix-header card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <b>
              <img src="/favicon.png" height="40px" width="40px" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="/favicon.png" height="40px" width="40px" alt="homepage" class="light-logo" />
            </b>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto mt-md-0">
            <!-- This is  -->
            <li class="nav-item">
              <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                <i class="mdi mdi-menu"></i>
              </a>
            </li>
            <li class="nav-item m-l-10">
              <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                <i class="ti-menu"></i>
              </a>
            </li>
          </ul>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="<% if(session.usuario && session.usuario.image){%> <%=session.usuario.image%> <%}else{%>/images/users/1.jpg <%}%>" alt="user" class="profile-pic" />
              </a>
              <div class="dropdown-menu dropdown-menu-right scale-up">
                <ul class="dropdown-user">
                  <li>
                    <div class="dw-user-box">
                      <div class="u-img">
                        <img src="<% if(session.usuario && session.usuario.image){%> <%=session.usuario.image%> <%}else{%>/images/users/1.jpg <%}%>" alt="user">
                      </div>
                      <div class="u-text">
                        <h4><% if(session.usuario && session.usuario.nome){%> <%=session.usuario.nome%> <%}else{%>Err <%}%></h4>
                        <p class="text-muted"><% if(session.usuario && session.usuario.email){%> <%=session.usuario.email%> <%}else{%>Err <%}%></p>
                      </div>
                    </div>
                  </li>
                  <li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="/user/logout">
                      <i class="fa fa-power-off"></i> Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-devider"></li>
            <li class="nav-small-cap"></li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="/ocorrencias" aria-expanded="false">
                <i class="mdi mdi-gauge"></i>
                <span class="hide-menu">Inicio</span>
              </a>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-bullseye"></i>
                <span class="hide-menu">Cadastro</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="/estacionamento/new">Estacionamento</a></li>
                <li><a href="/ocorrencias/new">Ocorrencias</a></li>
                <li><a href="/servidor/new">Servidor da UTFPR</a></li>
                <li><a href="/veiculo/new">Veiculo</a></li>
                <li><a href="/aluno/new">Aluno da UTFPR</a></li>
                <li><a href="/visitante/new">Visitante</a></li>
                <li><a href="/user/edit">User</a></li>
              </ul>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-format-list-bulleted"></i>
                <span class="hide-menu">Acessos</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="/estacionamento">Estacionamento</a></li>
                <li><a href="/ocorrencias">Ocorrencias</a></li>
                <li><a href="/servidor">Servidor da UTFPR</a></li>
                <li><a href="/veiculo">Veiculo</a></li>
                <li><a href="/aluno">Aluno da UTFPR</a></li>
                <li><a href="/visitante">Visitante</a></li>
                <li><a href="/user">User</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <br>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
        <strong>© Victor</strong><div style="float: right">v<%=versaoService.getVersao()%> </div>
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/plugins/bootstrap/js/popper.min.js"></script>

  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="/js/jquery.slimscroll.js"></script>
  <!--Wave Effects -->
  <script src="/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="/js/sidebarmenu.js"></script>
  <!--stickey kit -->
  <script src="/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
  <script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
  <!--Custom JavaScript -->
  <script src="/js/custom.min.js"></script>
  <script src="/plugins/toast-master/js/jquery.toast.js"></script>
  <script src="/js/toastr.js"></script>
  <script src=" /plugins/datatables/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      // For select 2
      $(".select2").select2({
        
      });
      $(".select2-multiple").select2({
        closeOnSelect: false
      });
      // For DataTable - ASC
        var table = $('.indexTableASC').DataTable({
            "order": [
                [0, 'asc']
            ],
            "displayLength": '<%if(session && session.usuario && session.usuario.page){%><%=session.usuario.page%><%}else{%>25<%}%>'
        });
    });
    // For DataTable - DESC
    $(document).ready(function() {
        var table = $('.indexTableDESC').DataTable({
            "order": [
                [0, 'desc']
            ],
            "displayLength": '<%if(session && session.usuario && session.usuario.page){%><%=session.usuario.page%><%}else{%>25<%}%>'
        });
    });
  </script>
  <% if (typeof flash != "undefined"){ %>
    <% if(flash && flash.err){ %>
      <% var texto = ""; %>
      <%var tipomsg = ""; %>
      <% Object.keys(flash.err).forEach(function(error){ %>
        <% if (typeof flash.err[error].msg != "undefined") {
          texto = flash.err[error].msg;
          tipomsg = flash.err[error].tipomsg;
        } else {
          texto += JSON.stringify(flash.err[error]) + " ";
          tipomsg = "error";
        }%>
      <% }) %>
      <script>
        $.toast({
          heading: 'carControl',
          text: '<%=texto%>',
          position: 'top-right',
          loaderBg: '#ff6849',
          icon: '<%=tipomsg%>',
          hideAfter: 5000
        });
      </script>
    <% } %>
  <% } %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143774845-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143774845-1');
</script>
</body>
</html>