<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/Visitante/create">
    <div class="form-body">
        <h2 class="card-title">Dados Novo Visitante</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nome Completo</label>
                    <input type="text" id="nome" name="nome" class="form-control" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label id="labelcpfcnpj" name="labelcpfcnpj" class="control-label">CPF</label>
                    <input type="number" id="cpfcnpj" name="cpfcnpj" class="form-control" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Celular</label>
                    <input type="number" id="celular" name="celular" class="form-control" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" id="email" name="email" class="form-control" required>
                </div>
            </div>
        </div>
        
    </div>

    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Salvar</button>
            <a href="/visitante" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>
</form>