<form action="/user/updateDados" method="POST">
    <div class="form-body">
        <h2 class="card-title">Configurações pessoais</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tabela, itens por páginas</label>
                    <select id="page" name="page" required class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <option value="10" <%if(session.usuario.page == 10){%>selected<%}%> >10</option>
                        <option value="25" <%if(session.usuario.page == 25){%>selected<%}%> >25</option>
                        <option value="50" <%if(session.usuario.page == 50){%>selected<%}%> >50</option>
                        <option value="100" <%if(session.usuario.page == 100){%>selected<%}%> >100</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
            <a href="/" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>
</form>