<form action="/user/update">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Id</label>
                    <input type="text" id="id" name="id" readonly value="<%if(user){%><%=user.id%><%}%>" class="form-control">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Ativo</label>
                    <div class="switch">
                        <label>
                        <input type="checkbox" id="ativo" name="ativo" <%if(user && user.ativo){%>checked<%}%>>
                        <span class="lever"></span></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" id="email" name="email" value="<%if(user){%><%=user.email%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">nome</label>
                    <input type="text" id="nome" name="nome" value="<%if(user){%><%=user.nome%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input type="password" id="password" name="password" value="<%if(user){%><%=user.password%><%}%>" required class="form-control">
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i> Salvar</button>
            <a href="/user" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>
</form>