<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <title>CarControl</title>
    <!-- Bootstrap Core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/red-dark.css" id="theme" rel="stylesheet">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register" style=" background: lightgray;">
        <div class="login-box card">
            <div class="card-body">
                <form class="md-float-material form-material" action="/auth/logar" method="POST">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12" style="text-align: center">
                                    <img height="64px" width="64px" src="/images/users/<%=Math.floor(Math.random() * 10 + 1)%>.jpg">
                                    <h5 style="margin-top: 10px;">CarControl v<%=versaoService.getVersao()%> by Victor</h5>
                                    <br>
                                    
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" name="username" class="form-control" required="" autocomplete="false" placeholder="Usuário">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" name="password" class="form-control" required="" autocomplete="false" placeholder="Senha">
                                <span class="form-bar"></span>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                <button class="btn btn-info btn-md btn-block waves-effect text-center m-b-20">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <script src="/plugins/toast-master/js/jquery.toast.js"></script>
    <script src="/js/toastr.js"></script>
    <% if (typeof flash != "undefined"){ %>
        <% if(flash && flash.err){ %>
            <% var texto = ""; %>
            <%var tipomsg = ""; %>
            <% Object.keys(flash.err).forEach(function(error){ %>
                <% if (typeof flash.err[error].msg != "undefined") {
                    texto = flash.err[error].msg;
                    tipomsg = flash.err[error].tipomsg;
                } else {
                    texto += JSON.stringify(flash.err[error]) + " ";
                     tipomsg = "error";
                }%>
            <% }) %>
            <script>
                $.toast({
                    heading: 'CarControl',
                    text: '<%=texto%>',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: '<%=tipomsg%>',
                    hideAfter: 5000
                });
            </script>
        <% } %>
    <% } %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143774845-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143774845-1');
</script>
</body>

</html>