<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Veículos</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/veiculo/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>

<% if (veiculos && veiculos.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Modelo</th>
                    <th>Fabricante</th>
                    <th>Tipo</th>
                    <th>Cor</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(veiculos, function(veiculo){ %>
                    <tr>
                        <td><%=veiculo.placa%></td>
                        <td><%=veiculo.modelo%></td>
                        <td><%=veiculo.fabricante%></td>
                        <td><%=veiculo.tipo%></td>
                        <td><%=veiculo.cor%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Ops, nenhum veiculo cadastrada ou problemas de conexão com o banco de dados, aguarde e recarregue a pagina.</h2>
    <hr>
    <h5>OBS, Se o problema persistir procure o administrador!</h5>
<%}%>