<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/Veiculo/create">
    <div class="form-body">
        <h2 class="card-title">Dados Novo Funcionario</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tipo</label>
                    <input type="text" id="tipo" name="tipo" class="form-control" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Modelo</label>
                    <input type="text" id="modelo" name="modelo" class="form-control" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fabricante</label>
                    <input type="text" id="fabricante" name="fabricante" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Placa</label>
                    <input type="text" id="placa" name="placa" class="form-control" required>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Cor</label>
                    <input type="text" id="cor" name="cor" class="form-control" required>
                </div>
            </div>
        </div>  
    </div>

    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Salvar</button>
            <a href="/veiculo" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>
</form>