<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Alunos</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/aluno/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>

<% if (alunos && alunos.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>RA</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th class="text-nowrap">Action</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(alunos, function(aluno){ %>
                    <tr>
                        <td><%=aluno.nome%></td>
                        <td><%=aluno.curso%></td>
                        <td><%=aluno.ra%></td>
                        <td><%=aluno.celular%></td>
                        <td><%=aluno.email%></td>
                        <td class="text-nowrap">
                            <a href="/aluno/edit/<%=aluno.id%>" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Ops, nenhum aluno cadastrada ou problemas de conexão com o banco de dados, aguarde e recarregue a pagina.</h2>
    <hr>
    <h5>OBS, Se o problema persistir procure o administrador!</h5>
<%}%>