<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/Aluno/create">
    <div class="form-body">
        <h2 class="card-title">Dados Novo Funcionario</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nome Completo</label>
                    <input type="text" id="nome" name="nome" class="form-control" required>
                </div>
            </div>      
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Curso</label>
                    <input type="text" id="curso" name="curso" class="form-control" required>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">RA</label>
                    <input type="number" id="ra" name="ra" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Celular</label>
                    <input type="number" id="celular" name="celular" class="form-control" required>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" id="email" name="email" class="form-control" required>
                </div>
            </div>            
        </div>
    </div>
    
    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Salvar</button>
            <a href="/aluno" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>
</form>