<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Estacionamentos</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/estacionamento/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>

<% if (estacionamentos.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descricao</th>
                    
                </tr>
            </thead>
            <tbody>
                <% _.each(estacionamentos, function(estacionamento){ %>
                    <tr>
                        <td><%=estacionamento.codigo%></td>
                        <td><%=estacionamento.descricao%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Ops, nenhum estacionamento cadastrado ou problemas de conexão com o banco de dados, aguarde e recarregue a pagina.</h2>
    <hr>
    <h5>OBS, Se o problema persistir procure o administrador!</h5>
<%}%>