<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Ocorrencias</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/ocorrencias/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>
<form method="GET" action="/ocorrencias">
    <div class="row p-t-20">
        <div class="col-md-2">
            <h3 class="card-title">Veiculos</h3>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select id="veiculosel" name="veiculosel" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                    <option value="" selected>Selecione um veiculo</option>
                    <% if (veiculos) {%>
                        <% _.each(veiculos, function(veiculo){ %>    
                            <option value="<%=veiculo.placa%>"><%=veiculo.placa%></option>
                        <% }) %>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label"> </label>
                <button type="submit" style="float: right;" class="btn btn-success">Pesquisar</button>
            </div>
        </div>
    </div>
    </form>
    <hr>

<% if (ocorrencias && ocorrencias.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Placa Veiculo</th>
                    <th>Codigo Estacionamento</th>
                    <th>OBS</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(ocorrencias, function(ocorrencia){ %>
                    <tr>
                        <td><%=ocorrencia.id_veiculo%></td>
                        <td><%=ocorrencia.id_estacionamento%></td>
                        <td><%=ocorrencia.observacao%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<% } else{ %>
    <hr>
    <h2>Ops, nenhum ocorrencia cadastrada ou problemas de conexão com o banco de dados, aguarde e recarregue a pagina.</h2>
    <hr>
    <h5>OBS, Se o problema persistir procure o administrador!</h5>
<% } %>