<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/Ocorrencias/create">
    <div class="form-body">
        <h2 class="card-title">Dados Novo Ocorrencias</h2>
        <hr>
        <div class="row p-t-20">            
            <div class="col-md-4">
                <div class="form-group">
                    <label id="labelcpfcnpj" name="labelcpfcnpj" class="control-label">Placa Veiculo</label>
                    <input type="Text" id="veiculo" name="veiculo" class="form-control" required>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="form-group">
                    <label id="labelcpfcnpj" name="labelcpfcnpj" class="control-label">Estacionamento</label>
                    <select id="estacionamento" name="estacionamento" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <% _.each(estacionamentos, function(estacionamento){ %>    
                            <option value="<%=estacionamento.id%>"><%=estacionamento.codigo%></option>
                        <%})%>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Observação</label>
                    <input type="text" id="observacao" name="observacao" class="form-control" required>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Salvar</button>
            <a href="/ocorrencias" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>
</form>