<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Servidores</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/servidor/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>

<% if (servidores.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone - ramal</th>
                    <th>Sala</th>
                    <th>Cargo</th>
                    <th>Matricula</th>
                    <th>Celular</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(servidores, function(servidor){ %>
                    <tr>
                        <td><%=servidor.nome%></td>
                        <td><%=servidor.telefone%> - <%=servidor.ramal%></td>
                        <td><%=servidor.sala%></td>
                        <td><%=servidor.cargo%></td>
                        <td><%=servidor.matricula%></td>
                        <td><%=servidor.celular%></td>
                        <td><%=servidor.email%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Ops, nenhum servidor cadastrada ou problemas de conexão com o banco de dados, aguarde e recarregue a pagina.</h2>
    <hr>
    <h5>OBS, Se o problema persistir procure o administrador!</h5>
<%}%>