<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/Servidor/create">
    <div class="form-body">
        <h2 class="card-title">Dados Novo Servidor</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nome Completo</label>
                    <input type="text" id="nome" name="nome" class="form-control" required>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Telefone</label>
                    <input type="number" id="telefone" name="telefone" class="form-control" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label id="labelcpfcnpj" name="labelcpfcnpj" class="control-label">Ramal</label>
                    <input type="number" id="ramal" name="ramal" class="form-control" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Sala</label>
                    <input type="text" id="sala" name="sala" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Cargo</label>
                    <input type="text" id="cargo" name="cargo" class="form-control" required>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Matrícula</label>
                    <input type="number" id="matricula" name="matricula" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Celular</label>
                    <input type="number" id="celular" name="celular" class="form-control" required>
                </div>
            </div>
            
            <div class="col-md-4" id="c_caixa" >
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
            </div>
        </div>
        
    </div>

    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Salvar</button>
            <a href="/servidor" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>

</form>